nav {
    width: 960px;
    text-align: center;
    font-size: 30px;
    background-color: lavenderblush;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: inline-block;
    

}
nav li {
    float:center;
    display: inline;
    padding: 3px 15px 3px 0px;
}
p{
    color:black;
    text-align: center;
    font-size: 10px;
}
.imgCenter {text-align:center;}
h1,h2,h3,h4,h5,h6{
    text-align:center;
}
ul{
    text-align:center;
     font-size: 10px;
}
