nav {
    width: 960px;
    text-align: center;
    font-size: 50px;
    backgtound-color: lavenderblush;
}

nav ul {
    list-style: none;
    display: inline-block;
    

}
nav li {
    float:left;
    padding: 3px 15px 3px 0px;
}
p{
    color:black;
}
